{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block content %}
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    {% if count_news is defined %}
                        <h3>{{ count_news }}</h3>
                    {% else %}
                        <h3>0</h3>
                    {% endif %}
                    <p>News</p>
                    <div class="icon">
                        <i class="ion ion-compose"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner">
                    {% if count_user is defined %}
                        <h3>{{ count_user }}</h3>
                    {% else %}
                        <h3>0</h3>
                    {% endif %}
                    <p>Users</p>
                    <div class="icon">
                        <i class="ion ion-person-stalker"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->

    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">News List</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>HTML</th>
                    <th>JSON</th>
                </tr>
                </thead>
                <tbody>
                {% for news in news_list.items %}
                    <tr>
                        <td>
                            <h4 class="attachment-heading font-size-130">
                                {{ news.news_title | e }}
                            </h4>
                        </td>
                        <td>
                            <a href="{{ url_for('show_news', news_id=news.id, response_format='html') }}" class="btn btn-default">
                                <i class="fa fa-html5"></i> HTML
                            </a>
                        </td>
                        <td>
                            <a href="{{ url_for('show_news', news_id=news.id, response_format='json') }}" class="btn btn-default">
                                <i class="fa fa-jsfiddle"></i> JSON
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            {% if news_list.has_prev %}
                <a href="{{ url_for('index', page=news_list.prev_num) }}">
                    <i class="fa fa-angle-double-left"></i> Newer news
                </a>
            {% else %}
                <i class="fa fa-angle-double-left"></i> Newer news
            {% endif %}
            |
            {% if news_list.has_next %}
                <a href="{{ url_for('index', page=news_list.next_num) }}">
                    Older news <i class="fa fa-angle-double-right"></i>
                </a>
            {% else %}
                Older news <i class="fa fa-angle-double-right"></i>
            {% endif %}
        </div>
        <!--&lt;&lt; <i class="fa fa-arrow-left"> &gt;&gt; <i class="fa fa-arrow-right"> /.box-footer-->
    </div>
    <!-- /.box -->
{% endblock %}
{% block script %}
{% endblock %}
