{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block content %}
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    {% if count_news is defined %}
                        <h3>{{ count_news }}</h3>
                    {% else %}
                        <h3>0</h3>
                    {% endif %}
                    <p>News</p>
                    <div class="icon">
                        <i class="ion ion-compose"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner">
                    {% if count_user is defined %}
                        <h3>{{ count_user }}</h3>
                    {% else %}
                        <h3>0</h3>
                    {% endif %}
                    <p>Users</p>
                    <div class="icon">
                        <i class="ion ion-person-stalker"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->

    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">News List</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                    <i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <ul class="list-unstyled">
                {% for news in news_list.items %}
                    <li>
                        <h4 class="attachment-heading">
                            <a href="{{ url_for('show_news', news_id=news.id) }}">
                                <i class="ion ion-compose"></i> {{ news.news_title | e }}
                            </a>
                        </h4>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            {% if news_list.has_prev %}
                <a href="{{ url_for('index', page=news_list.prev_num) }}">&lt;&lt; Newer news</a>
            {% else %}
                &lt;&lt; Newer news
            {% endif %}
            |
            {% if news_list.has_next %}
                <a href="{{ url_for('index', page=news_list.next_num) }}">Older news &gt;&gt;</a>
            {% else %}
                Older news &gt;&gt;
            {% endif %}
        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->
{% endblock %}
{% block script %}
{% endblock %}
